* {
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

.hero-background {
  background: url("../images/PaintSplatter.jpeg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.text-center {
  text-align: center; }

nav {
  position: absolute;
  top: 30px;
  right: 10px; }

nav a:link, nav a:active, nav a:visited {
  color: #888888;
  text-decoration: none;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  border: 2px solid #888888;
  padding: 10px;
  margin: 20px; }

nav a:hover {
  background-color: #3fb0ac;
  border-color: #3fb0ac;
  text-decoration: none;
  color: #fff;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s; }

.hero-title {
  max-width: 50%;
  color: #fff; }

.first-name {
  font-family: "Philosopher", sans-serif;
  font-size: 50px;
  letter-spacing: 5px; }

.last-name {
  font-family: "Vollkorn", serif;
  font-size: 75px; }

h1 {
  text-align: center; }

.personal-statement {
  width: 50%;
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 2px;
  font-family: "Philosopher", sans-serif; }

.down-arrow {
  padding: 30px; }

.arrow-size {
  width: 50px; }

.down-arrow a:hover {
  opacity: .8;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s; }

.portfolio-thumbnail {
  max-width: 400px;
  text-align: center;
  overflow: hidden; }

.portfolio-image {
  width: 100%; }

.portfolio-image img {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.portfolio-image:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  opacity: .7; }

.padding-top {
  padding-top: 30px; }

.padding {
  padding-top: 30px;
  padding-bottom: 30px; }

.about-me {
  background-color: #eeeeee;
  width: 100%; }

.headshot {
  height: 300px;
  padding-top: 50px;
  opacity: .95;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.headshot:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s; }

.content-title {
  font-family: "Vollkorn", serif;
  font-size: 30px;
  color: #173e43;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #3fb0ac;
  margin-bottom: 30px; }

.caitlin-description {
  font-family: "Muli", sans-serif;
  font-color: #173e43; }

.social-media-icons {
  width: 30px;
  margin: 30px 10px 30px 10px; }

.icons a:hover {
  opacity: .8;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s; }

.footer {
  background-color: #173e43;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
